@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('navbar/navbar.css');
@import url('hero/hero.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --primary-color:#2C3E50;
    --accent-color:#1ABC9C;
    --light-color:#ecf0f1b4;
    --white-color:#FFFFFF;
    --soft-yellow:#F39C12;
    --coral-red:#E74C3C;
    --bright-color:#3498DB;
    --dark-grey:#34495E;
    --mediam-grey:#7F8C8D;
}