nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
}

.nav-logo{
    font-size: 2rem;
}

.nav-links a{
    margin-left: 2rem;
    color: var(--dark-gray);
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-subscription button{
    padding: .5vh 1vw;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    background: transparent;
    border-radius: 15px;
    color: var(--primary-color);
    transition: .3s ease;
}
.nav-subscription button:hover{
    background: var(--dark-grey);
    color: white;
}